<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="C:\Users\Swathi P\Documents\portfolio\styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
  
    <title>home page</title>
      
   
</head>
      <body>
        <div class="header1" style=" background-image: linear-gradient(to left, rgb(253, 87, 137) , rgb(24, 121, 231));">
          <a href="#default" class="logo"> 
            <span>&#60;</span> Portfolio / <span>&#62;</span></a>
          <div class="header1-right">
            <a class="active" href="#home">Home</a> 
            <a href="#container">Education</a> 
            <a href="#project">Projects</a>
            <a href="#about">About</a> 
            <a href="#contact">Contact</a> 
          </div>
        </div>
      
        <center>
            <!-- Home Section -->
             <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
          
            <div class="text col-sm-6" style="margin-top: 60px;color: rgb(240, 236, 236);">Hi <span class="wave"><img src="output-onlinegiftools.gif" width="65px" height="55"></span>&nbsp;, I'm <span class="header">Swathi P</span>
                <div class="center">
                    <div>
                        <img src="myface.jpg" alt="" class="rounded-circle" height="200" width="200">
                    </div>
                    
                    <h2>I'm into
                        <span
                           class="txt-rotate"
                           data-period="2000"
                           data-rotate='[ "Web development.", "App development.", "Cloud Computing.", "Machine Learning." ]'></span>
                      </h2>

                    </div>
        
        
            <button id="myBtn" style="
              border-radius: 16px;
              
              background-color: rgb(230, 28, 105);
              opacity: 0.5px;
              color: rgb(250, 245, 245);
              padding: 14px 28px;
              font-size: 16px;
              cursor: pointer;" >Resume &nbsp;  →</button>
               </section>     
          </center>
            <!-- The Modal -->
            <div id="myModal" class="modal">
            
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <br>
                <h2 style="font-family: Georgia;text-align: center;">Curriculum Vitae</h2>
                <br>
                <p style="color:black;font-size: 22px;"> &nbsp; Grab My CV to find out more about me.</p>
                <br>
                <center>
                
                <button class="btn" style=  "background-color: RoyalBlue;
                border: none;
                color: white;
                padding: 8px 10px;
                cursor: pointer;
                font-size: 14px;
                width: min-content;
                border-radius: 16px;"><i class="fa fa-download"></i> <a href ="https://drive.google.com/file/d/1b_Mu6VzeUi0Rdw5GXB2huMJ7RkXUzJPY/view?usp=sharing" target="_blank" style="color: blanchedalmond;">Download</a></button>
               
              </center>
              <br>
              <br>
            
                <div class="socials">
                  <br> 
               
                  <a href="https://www.linkedin.com/in/swathi-p-634466190/" target="_blank">
                  <img src="icons8-linkedin-circled.gif" alt="Linkedin"class="socicon"/></a> &nbsp;
                  <a href="https://github.com/Swathipbhat" target="_blank">
                  <img src="icons8-github.gif" alt="Github" class="socicon"/></a>  &nbsp;
                  <a href="mailto: bhatswathip@gmail.com" target="_blank">
                  <img src="gmail.gif" alt="Gmail" class="socicon"/></a>
              </div>
            
            </div>

            </div>
<br><br>
            <h2 style="font-family: 'Courier New', Courier, monospace ; text-align: center; font-weight: bold; color: blanchedalmond;">Education</h2>
           
            <div id="container">
              <div class="rightbox">
                 <div class="rb-container">
                   <ul class="rb">
                     <li class="rb-item" ng-repeat="itembx">
                       <div class="timestamp">
                         UnderGraduation<br> 2019-2023
                       </div>
                       <div class="item-title">Amrita School of Engineering, Amrita Vishwa Vidyapeetham, Coimbatore</div>
                       <div class="item-title">Bachelor of Technology in Computer Science </div>
             
                     </li>
                     <li class="rb-item" ng-repeat="itembx">
                       <div class="timestamp">
                         Higher Secondary Education<br> 2017-2019
                       </div>
                       <div class="item-title"> Premier Vidya Vikash, Coimbatore </div>
                       <div class="item-title"> Physics, Chemistry, Mathematics and Computer Science </div>
                     </li>
             
                     <li class="rb-item" ng-repeat="itembx">
                       <div class="timestamp">
                         Secondary Education<br> 2016-2017
                       </div>
                       <div class="item-title"> Premier Vidya Vikash, Coimbatore </div>
             
                     </li>
             
                   </ul>
             
                 </div>
               </div>
             </div>
<br>
<h2 style="font-family: 'Courier New', Courier, monospace ; text-align: center; font-weight: bold;color: blanchedalmond;">Projects</h2>
<br<br><br> 
<h2 style="font-family: 'Courier New', Courier, monospace ; text-align: center; font-weight: bold;color: blanchedalmond;">Other Accrediations</h2>
<br<br><br>        

 
            <div class="footer" style= "height: 40px;">
              <p style="font-size: medium;font-family: 'Open Sans', sans-serif;">Created by Swathi</p>
            </div>
            
       
<script>
    var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
  document.body.appendChild(css);
};

var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



</script>
        </body>
</html>