body{
 
  font-family: "Open Sans", sans-serif;
  color: #272829;
  }
  .header1 {
    overflow: hidden;
    background-color: #f8eeee;
    
    padding: 15px 7px;
  }
  
  /* Style the header links */
  .header1 a {
    float: left;
    color: rgb(247, 238, 238);
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header1 a.logo {
      font-family: Edwardian Script ITC;
      font-style: italic;
    font-size: 34px;
    font-weight: normal;
   
  }
  
  /* Change the background color on mouse-over */
  .header1 a:hover {
    background-color: #ddd;
   
    color: black;
  }
  
  /* Style the active/current link*/
  .header1 a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header1-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  .text .header {
    font-weight: bold;
    
  }
   /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: rgba(5, 6, 7, 0.3) top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
 
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
  .text {
    font-size: 35px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgb(252, 241, 241);
    margin: auto;
    padding: 15px;
    border-radius: 2px;
    width: 45%;
    height: max-content;
  }
  
  /* The Close Button */
  .close {
    color: #f10f0f;
    float: left;
    align-items: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .socials {   
    
display: flexbox;
text-align: center;

  }
  
  .socicon {
    width: 45px;
    height: 45px;
    
  }
  
  #container {
    background: #232931;
    width: 540px;
    height: max-content;
    margin-left: 30%;
    position: abs;
    margin-top: 2%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  }
  
  .rightbox {
    padding: 0em 64rem 0em 0em;
    height: 420px;
  }
  
  .rb-container {
    font-family: "PT Sans", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
  }
  
  .rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
  }
  
  .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 6em;
    min-height: 90px;
    border-left: 1px dashed #fff;
    padding: 0 0 50px 40px;
    position: relative;
  }
  
  .rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
  .rb-container ul.rb li::before {
    position: absolute;
    left: -10px;
    top: -2px;
    content: " ";
    border: 6px solid rgba(255, 255, 255, 1);
    border-radius: 300%;
    background: #50d890;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  }
  
  .rb-container ul.rb li:hover::before {
    border-color: #232931;
    transition: all 1000ms ease-in-out;
  }
  
  ul.rb li .timestamp {
    color: #50d890;
   
    width: 320px;
    font-size: 12px;
  }
  
  .item-title {
    color: #fff;
  }
  
  
  .footer {
     position: relative;
     left: 0;
     bottom: 0;
     width: 100%;
     background-image: linear-gradient(to left, rgb(253, 87, 137) , rgb(24, 121, 231));
     color: white;
     text-align: center;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }